.hsptl-banner-btn{
    padding: 10px;
    width: 150px;
    border: none;
    background-color: gray;
    text-align: center;
    border-radius: 2.5px;
    cursor: pointer;
    text-align: center;
margin-left: 80px;}
button:hover{
    color: red;
        background-color: rgb(226, 226, 127);

}