@import './variables.scss';


@import './functions.scss';



@import '../Atom/button';


@import '../molecule/hospital_tile';



@import '../molecule/department_card';


@import '../molecule/title';


@import '../_orgasam/orgasam.scss';

// media quories
@import '../Media_code/media';

// card

@import '../molecule/three-card';
*{
    scroll-behavior: smooth;
}
 


.hsptl-last-section{
    background-color: $shadow-clr-3; 
    text-align: center;
}
input{
    width: 55%;
    height: 40px;
    background-color: rgb(80, 73, 73);
    border: none;
    
    
}
textarea{
    background-color: rgb(80, 73, 73);
    border: none;
    color: gray;
    text-align: center;
}






















