
$heading-colour:rgb(108, 102, 102);
$discription-colour:black;
$logo-color:white;
$shadow-clr-1:rgb(233, 230, 230);
$shadow-clr-2:rgb(187, 183, 183);
$shadow-clr-3:rgb(90, 86, 86);
$span-color:blue;
$padding-1:100px;
